@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.bg-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Roboto";
  margin-top: 2rem;
}

.bg-container img {
  height: 400px;
  width: 550px;
}

.bg-container h1 {
  font-size: 4rem;
  color: #01ac6d;
  margin: 2px;
}
.bg-container h2 {
  font-size: 3rem;
  margin: 2px;
}

.bg-container button {
  height: 3rem;
  width: 10rem;
  background-image: linear-gradient( 109.6deg,  rgb(9, 161, 166) 11.2%, rgb(45, 219, 109) 91.1% );
  border: none;
  border-radius: 5px;
  font-size: 20px;
  color: white;
  margin-top: 10px;
  
}


